
/* ------------------- gestion de style généraux -------------------  */
:root {
    --primary-color: #FBFBF5;
    --prussian-blue:#012035;
    --true-blue:#417DC2;
    --true-blue-bis:#89BFE4;
    --olivine: #B4D093;
    --jasmine:#F6D487;
    --coral:#FD7144;
    --morally-grey:#E7E7E7;
}

*{
    font-family: "poppins"; 
}

p{
    color:var(--morally-grey);
}

/* ------------------- hero banner ------------------- */
.anim2{
    width:400px;
}

.hero{
    width:99vw;
    height: 50vw;
    background-image: url('images/datas-res.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* ------------------- titraille ------------------- */
.header-titles{
    color:var(--coral);
    font-size:30px;
}

.hero p{
    color:var(--true-blue);
    position: relative;
    top:25%;
    font-size: 5vh;
    margin-left: 50px;
}

h3{
    color:var(--olivine);
    font-size: 3.5vh;
    margin-bottom: 2px;
}

/* -------- gestion des articles */

.fullBlue{
    padding-top: 25px;
    padding-bottom: 55px;
}

/* ------------------- gestion des bouttons ------------------- */
.btn-prm{
    width:210px;
    height:35px;
    border-radius: 15px;
    border-color: var(--primary-color);
    background-color: var(--olivine);
}

.btn-prm a:hover{
    color: var(--primary-color);
}

.btn-prm:hover {  
    transition: 0.5s;
    background-color:#8cdb8a8c;
    border-color:var(--primary-color);
    color: var(--morally-grey);
}

.btn_scd{
    width:210px;
    height:35px;
    border-radius: 55px;
    background-color: #96b2c600;
    border-color: var(--primary-color);
}

.btn_scd a:hover{
    color: var(--primary-color);
}

.btn_scd:hover {  
    transition: 0.5s;
    background-color: var(--olivine);
    border-color: var(--jasmine);
    color: var(--morally-grey);
}

button a{
    color: var(--primary-color);
}

#jump-to-top {
    position: absolute;
    position: fixed;
    bottom: 20px;
    right: 10px;
    padding-left: 15px;
    padding-right: 15px;
    display: block;

    border: none;
    border-radius: 30%;
    font-size: 30px;
    color: var(--primary-color);
    background-color: var(--jasmine);
    box-shadow: 0 4px 6px rgba(12, 23, 58, 0.2);
}

#jump-to-top:hover {
    background-color:#c4aa6d;
}

